/* css for decidim_ej */

body>* {
  font-family: Rawline;
}

.card__grid:hover {
  --tw-ring-color: unset !important;
}

.loader {
  width: 25px;
  height: 25px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: none;
}

.ej-component-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;

  h1,
  h2,
  h3,
  p {
    margin: 0;
    padding: 0;
  }
}

.ej-stats__number {
  color: var(--gray-80, #333);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ej-stats__description {
  color: var(--gray-80, #333);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.new-comment-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .submit-new-comment-btn {
    align-self: flex-end;
  }
}

.share-ej-container {
  display: flex;
  justify-content: center;
  width: 100%;
}