<div class="search-container">
    <div class="search-input-wrapper">
        <input class="search-input" placeholder="<%= placeholder %>">
        <i class="fas fa-search search-icon"></i>
    </div>
</div>