<section class="br-container-lg">
  <div class="ej-hero-info-content">
    <img alt="Hero image" class="ej-hero-info-img" src="" />
    <div class="hero-info-right-content">
      <h2 class="page-subtitle">Ajude a construir o Plano Nacional de Cultura!</h2>
      <p>
        Está na hora de pensarmos o que queremos para a cultura nos próximos dez anos. O Plano Nacional de Cultura (PNC) em vigor tem validade até o fim de 2024 e a elaboração do novo já começou. A ideia é que o plano tenha a cara do Brasil, considerando a riqueza e a diversidade de suas manifestações artísticas e culturais.
      </p>
      <div class="hero-info-actions">
        <a href="" class="br-button primary">
          Participar
        </a>
      </div>
    </div>
  </div>
</section>

<div class="ej-home-survey-container mt-5">
  <div class="br-container-lg">
    <%= render partial: 'component', locals: { has_no_stats: true } %>
  </div>

  <div class="centered-content mt-4">
    <a href="/processes/ej/f/33/ej/surveys" class="br-button primary">
      <span class="mr-2">Acessar lista de enquetes</span>
      <i class="fa fa-arrow-right"></i>
    </a>
  </div>
</div>

<section class="extended home-section" id="html-block">
  <div class="white-divider"></div>
  <section class="home-sections-container" id="participatory-process-section">
    <h2>Como você pode participar</h2>
    <p>A elaboração do Plano Cultura é um processo aberto e participativo e todos os cidadãos brasileiros podem contribuir com suas ideias e sugestões.</p>
    <div class="br-container-lg home-sections-content participatory-items">
      <div class="step-process-container">
        <a href="#" class="step-process-card">
          <div class="step-process-card__content current">
            <i class="fa-2xl fa-check-to-slot fa-solid"></i>
            <p class="stage-text">Etapa 1</p>
            <h3>Coleta de percepções</h3>
            <p class="step-date">julho de 2024</p>
          </div>
        </a>
        <a href="#" class="step-process-card">
          <div class="step-process-card__content">
            <i class="fa-2xl fa-check-to-slot fa-solid"></i>
            <p class="stage-text">Fase 2</p>
            <h3>Oficinas territoriais</h3>
            <p class="step-date">Agosto a Setembro de 2024</p>
          </div>
        </a>
        <a href="#" class="step-process-card">
          <div class="step-process-card__content">
            <i class="fa-2xl fa-check-to-slot fa-solid"></i>
            <p class="stage-text">Fase 3</p>
            <h3>Colaboração nas metas</h3>
            <p class="step-date">Setembro de 2024</p>
          </div>
        </a>
      </div>
    </div>
  </section>
  <div class="white-divider"></div>
</section>

<%= render partial: 'footer' %>

<%# link_to 'Lista de Enquetes', ej_index_path, class: 'button small' #%>
