<%= stylesheet_pack_tag "decidim_ej" %>

<div class="conversation-card">
  <div class="conversation-card-container">
    <div class="conversation-card__stats">
      <%= @data[:comments_count] %>
      <%= @data[:votes_count] %>
    </div>
    <div class="conversation-card__title"></div>
    <div class="conversation-card__comments"></div>
    <div class="conversation-card__comment"></div>
    <div class="conversation-card__votes"></div>
  </div>
</div>
