<% add_decidim_page_title("EJ") %>

<div>
  <% @conversations.each do |conversation| %>
    <div>
      <h1><%= conversation['text'] %></h1>
    </div>
    <div>
      <%= link_to "Participar", ej_path(conversation["id"]) %>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "Meus Comentários", user_comments_path, class: "btn btn-primary" %>
</div>